<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253148256175-a3vi3ghnlen96suul07du7v9mva2s3kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253148256175-a3vi3ghnlen96suul07du7v9mva2s3kg</string>
	<key>API_KEY</key>
	<string>AIzaSyBNZmd9_K6UWEGgCMFlrSC0t5UM-sJNI6A</string>
	<key>GCM_SENDER_ID</key>
	<string>253148256175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.iConnect</string>
	<key>PROJECT_ID</key>
	<string>iconnect-265eb</string>
	<key>STORAGE_BUCKET</key>
	<string>iconnect-265eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253148256175:ios:86952604f5ba8cf9a6415a</string>
</dict>
</plist>